.swiper-slide {
    width: 80px;
}

.swiper-slide img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.swiper-slide p {
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}